body {
	background-color: #303030;
	color: #fafafa;
}

#menu-btn a {
    color: #fafafa !important;
}

#home img {
	filter: invert(95%);
}
nav, #home-btn a {
	background-color: #212121 !important;
	color: #f5f5f5;
}

nav i {
    color: #f5f5f5 !important;
}

nav input, .input-field input[type=search]:focus:not(.browser-default) {color: #fafafa;}

.collection .collection-item {
	background-color: #303030;
	color: #fafafa !important;
	border-bottom-color: #262626;
}

.collection {border-color: #262626;}

#results .collection div.collection-item:not(.active):hover {
	background-color: #424242;
}

#results .collection .collection-item.avatar .secondary-content {color:white;}

.blue-text.text-darken-4 {color:#42a5f5 !important;}

.sidenav, .sidenav .collapsible-body, .sidenav.fixed .collapsible-body {background-color:#303030;}

.divider {background-color:#262626;}

.sidenav li>a, .sidenav li>a>i, .sidenav li>a>[class^="fa-"], .sidenav li>a li>a>[class*="fa-"], .sidenav li>a>i.fas, .sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons, .sidenav .subheader {color:#ffffffde}

.modal {
	background-color: #424242;
	color: white;
}

#torrent .collapsible {
border-color: #505050;
}

#torrent .collapsible-header {
	background-color: #565656;
	border-bottom-color: #505050;
}

.comments .comment-date {
	color: #fff9;
}

.modal.modal-fixed-footer .modal-footer, .modal .modal-footer {
	border-top-color: #ffffff1a;
	background-color: #424242;
}

textarea.materialize-textarea,.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {color:white;}

::-webkit-scrollbar, .side-nav li.active, .side-nav .collapsible-body{
	background-color: #1d1d1d !important;
}