@import "materialize.min.css";
@import "fontawesome.min.css";

html {height: 100%;}

body {
	background-color: #212121;
	color: #efefef;
	height: 100%;
	overflow: hidden;
}

nav a.brand-logo {
    padding-left: 1rem;
	vertical-align: middle;
}

nav {
    margin-bottom: 3rem;
}

#titleRow {
	display: none;
}

#searchnav nav {
	color: #212121;
}
#searchnav {
	margin: 0 auto;
    width: 95%;
	padding-bottom: 1.5rem;
	width: 50rem;
}