@import "materialize.min.css";
@import "fontawesome.min.css";

html {height: 100%;}

body {
	background-color: #212121;
	color: #efefef;
	height: 100%;
	overflow-x: hidden;
}

nav a.brand-logo {
    padding-left: 1rem;
	vertical-align: middle;
}

nav {
    margin-bottom: 3rem;
}

/*#titleRow {	display: none;}*/

#searchnav nav, #urlnav nav {
	color: #212121;
}
#searchnav, #urlnav{
	margin: 0 auto;
    /*width: 95%;*/
	padding-bottom: 1.5rem;
	/*width: 50rem;*/
}


#searchRow .card, .card.horizontal .card-image img, .card-content {
	height: 16rem;
	background-color: #313131;
	cursor: pointer;
}

.card-action a {
	display: inline-block;
	vertical-align: middle;
}